@model AnimalShelter.Models.Animal

<h1>Add a new animal</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.AnimalType)
  @Html.TextBoxFor(model => model.AnimalType)
  @Html.LabelFor(model => model.EntryDate)
  @Html.TextBoxFor(model => model.EntryDate)
  @Html.LabelFor(model => model.Gender)
  @Html.TextBoxFor(model => model.Gender)

  <input type="submit" value="Add new Animal" />
}

<p>@Html.ActionLink("Show all animals", "Index")</p>